<div style="background-color: background: #4B79A1;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;">
  {% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles%}
{{ super() }}

{% endblock styles%}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 comment">
          <h2 class="text-center" style=" font-family: 'Poppins', sans-serif;">Comments</h2>
          {% for comment in comment %}
          <h2 class="" style="font-size:1.5rem; font-family: 'Poppins', sans-serif; ">{{comment.comment}} <span  style="font-size: 1.3rem; font-weight: lighter;" class="">Posted
            By:{{comment.user.username}}</span></h2>
            
            {% endfor %} 
            
            
           
      </div>
      <div clas="col-md-2"> </div>
    </div>
  </div>
</div>
{% endblock %}
</div>

